/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Container for the entire page */
.desktop-2 {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative; /* Establish positioning context for absolute children */
  overflow: hidden; /* Hide any overflow content */
}

/* Video background */
.video-background {
  display: block; /* Ensure video is initially displayed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video covers entire container */
  z-index: -1; /* Place behind other content */
}

/* Content container */
.information-panel {
  position: absolute;
  top: 50%; /* Position at vertical center of parent */
  text-align: left; /* Align content to the left */
  padding: 0 20px; /* Add padding to the sides */
  width: calc(100% - 40px); /* Adjust width to prevent horizontal overflow */
  z-index: 1; /* Ensure content is above video */
  color: #fff; /* Text color for content */
}

/* Welcome panel */
.welcome-panel {
  text-align: left; /* Align text within welcome panel to the left */
}

/* Welcome message styling */
.welcome-to-spacing {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Subtitle styling */
.check-out-nasas {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 40px;
}

/* Link button styling */
.image-title-panel {
  display: inline-block;
  padding: 20px 40px;
  background-color: #6056dd;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

/* Hover effect for link button */
.image-title-panel:hover {
  background-color: #493ea3;
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
  .video-background {
    display: none; /* Hide video on mobile */
  }
  .desktop-2 {
    background-image: url('../../../public/NASA_1705829198023_1705829198278.avif'); /* Set background image for mobile */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 900px) {
  .welcome-to-spacing {
    font-size: 24px;
  }
  .check-out-nasas {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .image-title-panel {
    padding: 12px 24px;
    font-size: 18px;
  }
}
